@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300&display=swap');

html{
  height:100%;
  padding:0;
  margin:0;
}

body {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  font-family: 'Open Sans';
  background-color: #3d3f44;
  min-height:100%;
  margin: 0;
  padding:0;
  padding-left: 10%;
  padding-right: 10%;
}

.TitleContainer {
  position: relative;
  height: 250px;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #82c5d6;
}

.BodyContainer {
  font-weight: 300;
  overflow: hidden;
  flex: 1;
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color:white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #2f3442;
}

.BodyContainer h1{
  font-family: 'Montserrat';
  font-weight: 300;
  padding-left: 0%;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #e02fe0;
}

.BodyContainer h2, h3 {
  font-family: 'Montserrat';
  font-weight: 300;
}

.BodyContainer p{
  font-size: 18px;
  font-weight:300;
  letter-spacing: 0.03em;
}

.BodyContainer p{
  font-size: 18px;
  letter-spacing: 0.03em;
}

.BodyContainer a{
  text-decoration: none;
  color: #e02fe0;
  font-weight: 300;
}

.BodyContainer img{
  display: block;
  position: relative;
  float:right;
  max-height: 200px;
  max-width: 30vw;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom:5px;
  margin-top: 50px;
}

.dropButton{
  display:inline;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #e02fe0;
  cursor:pointer;
}

.dropArrow{
  font-size: 22px;
  display:inline-block;
  font-family: 'Montserrat';
  color: #e02fe0;
  transition: 500ms ease;
}

.rotated {
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
}

.dropContent{
  display:inline-block;
  font-size: 18px;
  letter-spacing: 0.03em;
  overflow:hidden;
  max-height: 0px;
  transition:max-height 500ms ease;
}

.visible {
  max-height: 200px;
}

svg {
  padding:0px;
  background-image: linear-gradient(to bottom left,#1b1e26,#2f3442);
  border-style: none;
  border-radius: 0px;
}

canvas {
  width:100%;
  height:100%;
  border-style: none;
  border-radius: 0px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.TitleContainer{
  background-image: linear-gradient(to bottom left,#1b1e26,#2f3442);
}

.TitleBox {
  padding-left:20px;
  padding-right:20px;
  padding-bottom:5px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin-left:0;
  margin-right:0;
  color: white;
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.TitleContainer .Name{
  display: inline-block;
  font-family: 'Montserrat';
  position:relative;
  font-size: 40px;
  color: white;
  margin-right: 30px;
  padding-left: 0px;
  padding-bottom: 10px;
}

.TitleBox .Button {
    display: inline-block;
    background: none;
    margin:0;
    margin-right:30px;
    padding: 0;
    bottom:0;
    height:100%;
}

.TitleBox a{
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  font-weight: normal;
  text-align: bottom;
  font-size: 22px;
  margin:0;
  padding:0;
}

.Footer {
  position: relative;
  letter-spacing: 0.03em;
  font-size:16px;
  font-weight: 300;
  color: gray;
  margin:0;
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 0;
}

.Footer a{
  text-decoration: none;
  color: gray;
  font-weight: 300;
}

@media only screen and (max-width: 1000px) {
  .TitleBox .Name {
    width:100%;
  }
}
